<h2>Productos</h2>

<!--si mostrar productos es verdadero-->
{{#if mostrarProductos}}

<div class="product-list">
  <!--x c/u de los e de productos en app.js lo voy a renderizar. TODOS LOS PRODUCTOS-->
  {{#each productos}}


  <div style="width: 16rem;">

    <div class="card">
      <!--atributo para imagen-->
      <img src="{{this.image}}" alt="{{this.title}}">
      <div class="card-body">
        <h3 class="product-title">{{this.title}}</h3>
        <p class="product-description">{{ this.description }}</p>
        <p class="product-price">Precio: ${{this.price}}</p>
        <p class="stock">Unidades disponibles: {{this.stock}}</p>
      </div>
    </div>

  </div>

  {{/each}}
</div>

<!--sino muestro esto-->
{{else}}
<p>No hay productos para mostrar</p>

{{/if}}