<h1>Productos</h1>

<!--si mostrar productos es verdadero-->
{{#if mostrarProductos}}


<!--x c/u de los e de productos en app.js lo voy a renderizar. TODOS LOS PRODUCTOS-->
{{#each productos}}


<div style="width: 16rem;">

  <div>
    <!--atributo para imagen-->
    <img src="{{this.image}}" alt="{{this.title}}">
    <h3>{{this.title}}</h3>
    <p>{{ this.description }}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Stock:{{this.stock}}</p>
  </div>

</div>

{{/each}}


<!--sino muestro esto-->
{{else}}
<p>No hay productos para mostrar</p>

{{/if}}